.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  padding-right: 10px;
}

.checkout__left {
  width: 70%;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
}

.checkout__title > h2 {
  padding-bottom: 7px;
  border-bottom: 1px solid lightgray;
}

.checkout__right {
  width: 150px;
}
