.checkoutProduct {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;   
}

.checkoutProduct__image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111111;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 500;
}

.checkoutProduct__price {
  margin-bottom: 5px;
}

.checkoutProduct__rating {
  display: flex;
}
